      <div class="jumbotron">
        <h1>Data Breach Impact Calculator</h1>
        <p class="lead">Confidentially determine the potential cost of a data breach to your organisation in order to make 
        informed information security investment decisions.</p>
      </div>

      <div class="row-fluid">
      
        <div class="col-xs-6 col-md-4">
          <h4>Types of Costs</h4>
          <p>Breach costs can be divided principally into direct costs assosciated with the immediate 
          repsonse to the breach, and indirect costs - those that are fealt over a greater period of time. It is extremely
          difficult to accurately appraise these costs due to the lack of clear data and the complexity of the weighting
          of the factors however a reaosnable approximation can be made. </p>
	  <p><a class="btn btn-info" href="https://www.linkedin.com/pulse/6-facets-breach-costs-andy-boura-cissp-mphys?trk=mp-author-card">More on cost types &raquo;</a></p>
	</div>
	
	<div class="col-xs-6 col-md-4">
          <h4>Stay Informed</h4>
          <p>By signing up to the designed.online information security professional's community and mailing list you will be kept informed of updates
          and changes to this tool and other related tools in the future. You will also be able to
          suggest new tools or features for consideration.</p><p>Emails will only be sent for significant announcements and contact information will never be shared.</p>
          <a class="btn btn-large btn-success" href="#">Sign me up!</a>
        </div>
	
	<div class="col-xs-12 col-md-4">
          <h4>Generate My Report</h4>
          <p>We need to know a few things about your system and customers:</p>
          		<form class="form-horizontal" role="form">
			<div class="form-group">
		    		<label class="control-label col-sm-2" for="records">Records:</label>
		    		<div class="col-sm-10">
		      			<input type="number" data-min="1" data-max="1000000000" data-buttons="false" class="form-control" id="records" placeholder="Enter number of records">
		    		</div>
		  	</div>
			<div class="form-group">
		    		<label class="control-label col-sm-2" for="records">Country:</label>
		    		<div class="col-sm-10">
					<div class="btn-group">
					  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					    Select Country
					    <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">
					    <li>test
					    <li>test2
					  </ul>
					</div>	 
				</div>
			</div>
			<div class="form-group">
		    		<label class="control-label col-sm-2" for="records">Industry:</label>
		    		<div class="col-sm-10">
					<div class="btn-group">
					  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					    Select Industry
					    <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">
					    <li>test
					    <li>test2
					  </ul>
					</div>	 
				</div>
			</div>
  			<div class="form-group"> 
    				<div class="col-sm-offset-2 col-sm-10">
      					<button type="submit" class="btn btn-primary">Calculate Data Breach Impact</button>
    				</div>
  			</div>
		</form>
	</div>

      </div>
    </div> <!-- /container -->
    
    <div id="push"></div>
    </div> <!-- /wrap -->
    
    <div id="footer">
      <div class="container">
        <p class="muted credit"><span class="pull_right">legal | privacy policy | security statement</span>&copy; designed.online 2015</p>
      </div>
    </div>

	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-cookie-consent.js"></script>

</body>
</html>
